@font-face {
    font-family: 'Geomanist-bold';
    src: url('../fonts/Geomanist-Bold.eot');
    src: url('../fonts/Geomanist-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Geomanist-Bold.woff') format('woff'), url('../fonts/Geomanist-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal
}
@font-face {
    font-family: 'Geomanist-medium';
    src: url('../fonts/Geomanist-Medium.eot');
    src: url('../fonts/Geomanist-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Geomanist-Medium.woff') format('woff'), url('../fonts/Geomanist-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal
}
@font-face {
    font-family: 'Geomanist-black';
    src: url('../fonts/Geomanist-Black.eot');
    src: url('../fonts/Geomanist-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Geomanist-Black.woff') format('woff'), url('../fonts/Geomanist-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/ProximaNova-Bold.otf');
    src: url('../fonts/ProximaNova-Bold.otf') format('truetype');
    
}
@font-face {
    font-family: 'ProximaNova-RegularItalic';
    src: url('../fonts/ProximaNova-RegularItalic.otf');
    src: url('../fonts/ProximaNova-RegularItalic.otf') format('truetype');
}
/*-- general  --*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*-------------------*/
.btn{
    /*
    position: absolute;
    top: 15px;
    left: 45px;
    height: 45px;
    width: 45px;
    text-align: center;
    background: #1b1b1b;
    border-radius: 3px;
    cursor: pointer;*/
    transition: left 0.4s ease;
  }
  .btn.click{
    left: 376px;
    /*z-index: 777;
    position: absolute;
    top: 15px;
    background: #fff;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 0px;
    border-radius: 3px;
    */
  }
  .btn span{
    color: #000;
    font-size: 28px;
    line-height: 45px;
  }
  .btn.click span:before{
    content: '\f00d';
  }
  .sidebar{
    position: fixed;
    max-width: 370px;
    width: 28%;
    height: 100%;
    right: -370px;
    background: #fff;
    transition: right 0.4s ease;
    overflow-x: hidden;
    z-index: 999;
  }
  .sidebar.show{
    right: 0px;
  }
  .sidebar .text{
    color: #000;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Geomanist-black';

  }
  nav ul{
    background: #fff;
    height: 100%;
    width: 100%;
    list-style: none;
    padding-left: 1rem;
  }
  nav ul li{
    line-height: 60px;
    border-top: 1px solid rgba(255,255,255,0.1);
  }
  nav ul li:last-child{
    border-bottom: 1px solid rgba(255,255,255,0.05);
  }
  nav ul li a{
    position: relative;
    color: #000;
    text-decoration: none;
    padding-left: 80px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
    text-transform: uppercase;
    font-family: 'Geomanist-black';
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1;
  }
  nav ul li.active a{
    color:#000;
    background: #fff;
    border-left-color: #000;
  }
  /*nav ul li a:hover{
    background: #fff;
  }*/
  nav ul ul{
    position: static;
    display: none;
  }
  nav ul .feat-showsomos.showsomos{
    display: block;
    overflow-x: hidden;
    
  }
  nav ul .feat-show.show{
    display: block;
    overflow-x: hidden;
    
  }
  nav ul .feat-show1.show1{
    display: none;
    
  }
  /*
  nav ul .serv-show.show1{
    display: block;
  }*/
  nav ul ul li{
    line-height: 0px;
    border-top: none;
    float: left;
    width: 33.33%;
    /*float: left;
    display: inline-block;
    width: 33.33%;*/
  }
  nav ul ul li a{
    font-size: 17px;
    color: #e6e6e6;
    padding: 0px;
    border: 0px;
    line-height: 0;
  }
  nav ul ul li a img{
    width: 100%;
    height: auto;
  }
  .span__submenu{
    font-size: 14px;
    line-height: 1;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    position: absolute;
    font-family: 'Geomanist-black';
    letter-spacing: 1px;
  }
  .white{
    color:#fff !important;
  }
  .font{
      font-size: 11px !important;
  }
  nav ul li.active ul li a{
    color: #000;
    background: #fff;
    border-left-color: transparent;
  }/*
  nav ul ul li a:hover{
    color: #000!important;
    background: #1e1e1e!important;
  }*/
  nav ul li a span{
    position: absolute;
    top: 38%;
    left: 41px;
    transform: translateY(-50%);
    font-size: 30px;
    transition: transform 0.4s;
  }
  nav ul li a span.rotate{
    transform: translateY(-50%) rotate(-180deg);
  }
/*------------------*/
.responsive__img{
    max-width: 100%;
    height: auto;
}
.responsive__aguacate{
    max-width: 100%;
    height: auto;
}
.responsive__aguacate-sub{
    max-width: 100%;
    height: auto;
}
.responsive__chicos{
    max-width: 80%;
    height: auto;
}
.woman__img{
    max-width: 100%;
    height: auto;
}
/*-- general  --*/
/*-- aside  --*/
.aside{
    background-color: #fff;
    float: left;
    width: 26.9%;
    float: left;
    max-width: 340px;
}
.aside__icon__close{
   /* display: inline-block;
    padding: 20px 50px 0px 320px;
    width: 100%;*/
    float: left;
    position: relative;
}

.aside__icon{
    display: inline-block;
    padding: 0px 50px 0px 50px;
    width: 100%;
}
.aside__icon-a{
    display: inline-block;
    color: #000;
    font-size: 45px;
    float: right;
    padding: 0px 13px 0px 0px;
    vertical-align: middle;
}
.aside__icon-a1{
    display: inline-block;
    color: #000;
    font-size: 45px;
    float: left;
    padding: 0px 50px 0px 50px;
    vertical-align: middle;
}
.aside__brand{
    text-transform: uppercase;
    color: #000;
    font-size: 16px;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: 4px;
}
.aside__container-info{
    display: inline-block;
    margin-top: 58px;
    width: 100%;
    text-align: center;
    padding: 0px 50px 0px 50px;
}
.aside__logotipo{
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}
.aside__agency{
    text-transform: uppercase;
    font-size: 48px;
    text-align: left;
    font-family: 'Geomanist-black';
    line-height: 0.8;
}
.aside__country{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 4px;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    margin-bottom: 80px;
}
.aside__about-balloon{
    text-align: right;
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}
.aside__about-p{
    color: #000;
    text-align: left;
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 80px;
    font-family: 'ProximaNova-RegularItalic';
}
.aside__about-a{
    background-color: #80b92e;
    color: #fff;
    padding: 25px 35px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 100px;
    letter-spacing: 4px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    transition: .2s;
}
.aside__about-a:hover{
    background-color: #65981a;
}
.aside__networks-balloon{
    text-align: right;
    display: inline-block;
    width: 100%;
    margin-bottom: 24px;
    margin-top: 100px;
}
.aside__networks-communicate{
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}
.aside__networks-a{
    font-size: 34px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-family: 'Geomanist-black';
    margin-bottom: 42px;
}
.aside__networks-email{
    font-size: 16px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 68px;
    font-family: 'ProximaNova-Bold';
    
}
.aside__networks-ul{
    list-style: none;
    display: flex;
    align-content: center;
    margin-bottom: 100px;
}
.aside__networks-li{
    flex: 1;
    transition: .2s;
}
.aside__networks-link{
    padding: 20px 0px;
    display: inline-block;
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: .2s;
}
.aside__link-whatsapp{
    background-color:#2fa628;
}
.aside__link-whatsapp:hover{
    background-color:#25841f;
}
.aside__link-facebook{
    background-color:#1786fa;
}
.aside__link-facebook:hover{
    background-color:#2f6ba9;
}
.aside__link-chat{
    background-color:#fcdc31;
    color: #000 !important;
}
.aside__link-chat:hover{
    background-color:#dec334;
    color: #000 !important;
}
.aside__link-email{
    background-color:#c22e60;
}
.aside__link-email:hover{
    background-color:#b12554;
}
.aside__map-balloon{
    text-align: right;
    display: inline-block;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 24px;
}
.aside__map-icon{
    margin-bottom: 64px;
}
.aside__map-p{
    text-align: left;
    margin-bottom: 60px;
    font-size: 16px;
    font-family: 'ProximaNova-RegularItalic';
}
.aside__map-span{
    font-family: 'ProximaNova-Bold';
}
.aside__map{
    margin-bottom: 100px;
}
.aside__tv{
    display: inline-block;
    padding: 0px 50px 0px 50px;
    width: 100%;
    text-align: center;
}
.aside__tv-icon{
    margin-bottom: 40px;
    margin-top: 100px;
}
.aside__tv-title{
    font-size: 48px;
    text-transform: uppercase;
    text-align: left;
    line-height: 0.9;
    font-family: 'Geomanist-black';
    
}
.aside__tv-subtitle{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 4px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 48px;
}
.aside__tv-p{
    font-size: 16px;
    text-align: left;
    margin-bottom: 100px;
    font-family: 'ProximaNova-RegularItalic';
}
.aside__tv-span{
    font-family: 'ProximaNova-Bold';
}
.aside__tv-phone{
    display: block;
    width: 100%;
    max-width: 745px;
    /* background-color: #fff; */
    overflow: hidden;
}

/*-- aside --*/
/*-- main --*/
.main{
    width: 73.1%;
    float: right;
}
.main__header{
    background-image: url('../img/slider2.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*height: 86.22502628811777vh;*/
    height: 110vh;
}
.main__h1{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Geomanist-black';
    font-size: 44px;
    display: inline-block;
    width: 70%;
}
.main__span{
    background-color: #80b92e;
    color: #fff;
    font-size: 75px;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    font-family: 'Geomanist-black';
    text-align: center;
   /* font-size: 108px;*/
    position: relative;
}
.woman{
    position: absolute;
    display:block;
    width: 100%;
    /* bottom: 0; */
    /* background: blue; */
    text-align: center;
    bottom: -5px;
}
.maple{
    position: absolute;
    right: 0;
}

.maple-img{
    max-width: 100%;
}
.main__carousel-owl-info{
    position: absolute;
    display: inline-block;
    color: #fff;
    bottom: 11px;
    right: 25px;
}
.main__carousel-owl-days{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
}
.main__carousel-owl-price{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 110px;
    font-family: Arimo,sans-serif;
}
.main__carousel-owl-since{
    font-size: 22px;
    vertical-align: middle;
    font-family: Arimo,sans-serif;
}
.main__carousel-owl-current{
    display: inline-block;
    width: 89%;
    text-align: right;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: Arimo,sans-serif;
}
.main__carousel-hot{
    background-color: #80b92e;
    position: relative;
}
.main__carousel__suenos{
    background-color: #80b92e;
    position: relative;
    padding-bottom: 150px;
}
.title__sections__suenos{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 48px;
    font-family: 'Geomanist-black';
    letter-spacing: 8px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}
.verano__carousel__section{
    position: relative;
    background-color: #4dc1be;

}
/*-- main --*/
.content__title{
    display: inline-block;
    line-height: 1;
}
.title__sections{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 48px;
    font-family: 'Geomanist-black';
    letter-spacing: 8px;
    padding-top: 30px;
    padding-bottom: 70px;
    position: relative;
}
.title__sections-icon{
/* display: inline-block;*/
display: inline-flex;
padding-right: 10px;
 
}
.title__sections-img{
    max-width: 100%;
    height: auto;
}
.title__sections-hot{
    display: block;
    font-size: 20px;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
}
.aguacate{
    position: absolute;
    right: 0;
    top: 15px;
}
.aguacate__sub{
    position: relative;
    text-align: left;
    bottom: 15px;
}
.plant__sub{
    text-align: left;
    position: relative;
    bottom: -4px;
    left: 0px;
    display: inline-block;
}

.main__sections-mt{
    position: absolute;
    display: inline-block;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    top: 0;
    text-align: right;
    padding: 10px 10px;
    color: #fff;
    font-family: Arimo,sans-serif;
}
.main__sections-info{
    position: absolute;
    display: inline-block;
    width: 100%;
    color: #fff;
    bottom: 0;
}
.main__sections-days{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    margin-top: 10px;
    font-family: Arimo,sans-serif;
}
.main__sections-price{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-family: Arimo,sans-serif;
}
.main__sections-since{
    font-size: 14px ;
 vertical-align: middle;
 font-family: Arimo,sans-serif;
}
.main__sections-current{
    display: inline-block;
    width: 89%;
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
    font-family: Arimo,sans-serif;
}
.travels__carousel__section{
    position: relative;
    background-image: url('../img/back-mis-viajes-favs.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;

}
.travels__title__sections{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 48px;
    font-family: 'Geomanist-black';
    letter-spacing: 8px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.title__sections-black{
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 48px;
    font-family: 'Geomanist-black';
    letter-spacing: 8px;
    padding-top: 40px;
    padding-bottom: 100px;
}
.logotext-span{
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    font-family: 'Geomanist-black';
}

.megatraveler{
    padding-top: 150px;
    padding-bottom: 340px;
    display: inline-block;
    width: 100%;
    
}
.container__megatraveler{
    float: left;
    width: 45%;
    padding: 0px 0px 0px 30px;
}
.megatraveler__magazine{
    float: right;
    width: 55%;
}
.megatraveler__magazine-img{
    max-width: 100%;
    height: auto;
}
.megatraveler-title{
    font-size: 48px;
    font-family: 'Geomanist-black';
    text-transform: uppercase;
    text-align: left;
    line-height: 0.9;
    margin-bottom: 0px;
}
.megatraveler-title-sub{
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: left;
    line-height: 0.9;
    margin-bottom: 48px;
}
.megatraveler-p{
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 70px;
    font-family: 'ProximaNova-RegularItalic';
}
.megatraveler-span{
    font-family: 'ProximaNova-Bold';
}
.container__megatraveler-btn{
    padding: 10px;

}
.margin__btn-right{
margin-right: 5px;
}
.margin__btn-left{
    margin-left: 5px;
}
.btn-megatraveler{
    color: #fff;
    background-color: #80b92e;
    padding: 25px 40px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 20px;
    transition: .2s;
}
.btn-megatraveler:hover{
    background-color: #65981a;
}
.video{
    background-color: #4dc1be;
    background-image: url('../img/back-video.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 100%;
    padding-bottom: 140px;
    position: relative;
}
.video-image{
    max-width: 100%;
    padding: 30px;
}
.video__youtube-v1{
    background-color: #000;
}
.video__title{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    letter-spacing: 8px;
    text-transform: uppercase;
    padding-top: 100px;
    padding-bottom: 25px;
}
.container__video{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.container__chicos{
    position: absolute;
    bottom: 1px;
    left: 0;
}
.contacto{
    background-color: #80b92e;
    display: inline-block;
    width: 100%;
    padding-bottom: 50px;
}
.contacto__title{
    text-align: center;
    color: #fff;
    font-size: 48px;
    padding-top: 100px;
    padding-bottom: 40px;
    position: relative;
    text-transform: uppercase;
    font-family: 'Geomanist-black';
    letter-spacing: 8px;
}
.contacto__subtitle{
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding-bottom: 80px;
    font-family: 'ProximaNova-RegularItalic';
    position: relative;
    z-index: 10;
}
.contacto__contaner-img{
    position: absolute;
    right: 0;
    top: 123px;
}
.contacto__form{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.formulario{
  /*  display: flex;*/
  display: inline-grid;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 40px;
    position: relative;
    z-index: 10;
    width: 60%;
}
.text__formulario{
    height: 60px;
    flex: 1;
    border: 2px solid #000;
    margin: 5px;
    padding: 0px 0px 0px 20px;
    outline: none;
    font-size: 20px;
}
.text__formulario1{
    height: 100px;
    flex: 1;
    border: 2px solid #000;
    margin: 5px;
    padding: 0px 0px 0px 20px;
    outline: none;
    font-size: 20px;
}
.btn__formulario{
    color: #80b92e;
    background-color: #000;
    text-transform: uppercase;
    padding: 0px 60px;
    border: 2px solid #000;
    margin: 5px;
    height: 60px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 20px;
    transition: .2s;
}
.btn__formulario:hover{
    color: #000;
    background-color:#80b92e;
}
.dollars{
 background-color: #000;
 display: inline-block;
 width: 100%;
 padding: 40px;
}
.dollars-p{
    color: #fff;
    float: left;
    font-size: 14px;
    font-family: 'ProximaNova-RegularItalic';
}
.dollars-ul{
    float: right;
    list-style: none;
}
.dollars-li{
    float: left;
}
.dollars-a{
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    padding: 15px 20px;
}
.meca{
padding: 10px;
}
.meca-p{
    text-align: center;
    font-size: 14px;
    font-family: 'ProximaNova-RegularItalic';
}
.section__see{
    display: none;
}
video{
    position: relative;
    top: 0px;
    left: 0px;
    width: 85% !important;
    object-fit: cover;
    opacity: 1;
    height: auto;
}
.verano__image{
    position: absolute;
    top: 75px;
    left: 20px;
}
.verano__image-img{
    max-width: 85%;
}
/* templete fresa */
.back__fresa{
 background-color: #e46879 !important;
}
.hover__fresa:hover{
background-color: #ce5969 !important;
}
.color__fresa{
    color: #e46879 !important;
}
.fresa{
    background-image: url('../img/back-fresa.jpg') !important;
}
.color__black{
    color: #000 !important;
}
.back__gray{
    background-image: url('../img/back-mis-viajes-favs-gray.png') !important;
}
.fresa__sub{
    bottom: -4px !important;
}
.contacto__contaner-fresa{
    top: -60px;
}
/* templete frutas */
.back__frutos{
background-color: #e60a33 !important;
}
.hover__frutos:hover{
background-color: #ce5969 !important;
}
.color__frutos{
    color: #e60a33 !important;
}
.frutos{
    background-image: url('../img/back-frutos-rojos.jpg') !important;
}
.back__frutos__favoritos{
    background-image: url('../img/back.jpg') !important;
}
.color__black{
    color: #000 !important;
}
.contacto__contaner-frutos{
    top: -37px;
}
/* templete sandia */
.back__sandia{
background-color: #fa0b54 !important;
}
.hover__sandia:hover{
background-color: #ce5969 !important;
}
.color__sandia{
    color: #fa0b54 !important;
}
.sandia{
    background-image: url('../img/back-sandia.jpg') !important;
}
.color__black{
    color: #000 !important;
}
.bottom__sandia{
    top: 85px !important;
}
.contacto__contaner-sandia{
    top: -30px;
}
/* Si el tamaño de la pantalla es de 600px o menos */
@media only screen and (max-width: 3560px) {
    
    .aside{
        /*max-width: 30%;*/
        min-width: 26.9%;
    }
    .sidebar{
        min-width: 26.9%; 
        right: -100%;
    }
    
}

@media only screen and (max-width: 2560px) {
    
    .aside{
        /*max-width: 30%;*/
        min-width: 26.9%;

         
    }
    .sidebar{
        min-width: 26.9%; 
        right: -100%;
    }
    
}
@media only screen and (max-width: 1440px) {
    
    .aside{
        /*max-width: 30%;*/
        max-width: 26.9%;
         
    }
    .sidebar{
        max-width: 27.9%;  
    }
    
}
@media only screen and (max-width: 1275px) {
    
    .aside{
        /*max-width: 30%;*/
        max-width: 340px; 
        min-width: 26.9%;
    }
    .sidebar{
        /*max-width: 30%;*/
        max-width: 370px; 
        min-width: 370px; 
        

    }
    
}
@media only screen and (max-width: 1044px) {
    
    .formulario{
        
        padding: 5px; 
    }
    
}

@media only screen and (max-width: 1000px) {
    .aside__icon-a{
        font-size: 34px;
    }
    .aside__brand{
        font-size: 15px;
    }
    .main__h1{
        font-size: 40px;
    }
    .main__span{
        font-size: 60px;
    }
    .aside__icon{
        padding: 54px 20px 0px 20px;
    }
    .aside__container-info{
        padding: 0px 20px 0px 20px;
    }
    .aside__tv{
        padding: 0px 20px 0px 20px; 
    }

    .formulario{
        display:inline-grid;
        padding: 5px; 
    }
    .text__formulario {
        flex:auto ;
      /*  width: 30%;*/
    }
    .aguacate{
        top: 80px;
    }
    .contacto__contaner-img{
        top: 230px;
    }
    .aside__networks-a{
        font-size: 28px;
    }
    .main__carousel-owl-price{
        font-size: 75px;
    }
     
     
 }
 @media only screen and (max-width: 900px) {
    .aside{
        width: 30.9%;
    }
    .main {
        width: 69.1%;
      
    }
}
@media only screen and (max-width: 825px) {
    .aside{
        width: 33.9%;
    }
    .main {
        width: 66.1%;  
    }
    .verano__image-img{
       display: none;
    }
    
}
@media only screen and (max-width: 768px) {
    .bottom__sandia {
        top: 115px !important;
    }
  /* .container__chicos{
        display: none;
    }*/
    .main__carousel-owl-price{
        font-size: 45px;
    }

}
@media only screen and (max-width: 668px) {
    .aside__agency{
        font-size: 32px;
    }
}

@media only screen and (max-width: 550px) {
    .section__see{
        display: inline-block;
        margin-top: 0px;
        width: 100%;
        text-align: center;
        padding: 0px 20px 0px 20px;
    }
    .section__hidden{
        display: none!important;
    }
    nav ul .feat-showsomos.showsomos{
        display: none;
        
      }
      nav ul .feat-show1.show1{
        display: block;
        overflow-x: hidden;
        
      }
    .aside{
        width: 100%; 
        max-width: 100%;
    }
    .aside__icon{
        text-align: center;
        padding: 0px 20px 0px 20px;
    }
    .aside__icon-a{
        font-size: 50px;
    }
    .aside__brand{
        font-size: 25px;
        position: relative;
        top: 8px;
    }
    .aside__container-info{
        margin-top: 28px;
        display:none;
    }
    .aside__agency{
        text-align: center;
    }
    .aside__country{
        text-align: center;
        margin-bottom: 40px;
    }
    .aside__about-a{
        margin-bottom: 50px;
    }    
    .aside__networks-balloon{
        margin-top: 50px;
    }
    
    .aside__networks-ul{
        margin-bottom: 50px;
    }
    .aside__map-balloon{
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .aside__map {
        margin-bottom: 50px;
    }
    .aside__tv-icon{
        margin-bottom: 20px;
        margin-top: 50px;
    }
    .aside__map-icon{
        margin-bottom: 34px;
    }
    .aside__map{
        padding: 0px !important;
    }
    .aside__tv-phone{
        padding: 0px !important;
        text-align: left !important;
    }
    
    .main {
        width: 100%;
    }
    
    .main__h1{
        font-size: 30px;
    }
    .main__span{
        font-size: 40px;
    }
    .main__carousel-owl-info{
        bottom: 0px;
        right: 10px
    }
    .main__carousel-owl-price{
        font-size: 40px;
    }
    .main__carousel-owl-since{
        font-size: 16px;
    }
    .main__carousel-owl-current{
        font-size: 16px;
    }
    .aguacate{
        display: inline-block;
    }
    .responsive__aguacate{
        max-width: 55%;
        height: auto;
    }
    .responsive__aguacate-sub{
        max-width: 100%;
        height: auto;
    }
    .megatraveler{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .container__megatraveler {
        float: none;
        width: 100%;
        padding: 0px 25px 0px 25px;
    }
    .megatraveler__magazine {
        float: none;
        width: 100%;
        padding: 40px 25px 0px 25px;
    }
    .container__megatraveler-btn {
        text-align: center;
    }
    /*iframe{
        width: 80%;
    }*/
    .contacto__title{
        font-size: 38px;
    }
    .text__formulario{
        width: 90%;
        margin:0px 0px 30px 0px;
    }
    .text__formulario1{
        width: 90%;
        margin:0px 0px 30px 0px;
    }
    .btn__formulario{
        width: 90%;
        margin:0px 0px 30px 0px;
    }
    .video__youtube-v1{
        width: 85%;
    }
    .responsive__chicos{
        max-width: 60%;
    }
    .dollars{
        text-align: center;
    }
    .dollars-p{
        float: none;
    }
    .dollars-ul{
        float: none;
        display: inline-block;
        margin: 20px 0px 0px 0px;
    }

    .bottom__sandia {
        top: 135px !important;
    }

    .sidebar{
        max-width: 100%;
    }

    .sidebar{
        min-width:100%;
    }
    
    
}
@media only screen and (max-width: 425px) {
    .sidebar{
        width: 78.9%

    }
    
    .video__youtube-v1 {
     
        height: 350px;
    }
    .btn-megatraveler{
        width: 100%;
    }
    .margin__btn-right{
        margin-right: 0px;
        margin-bottom: 15px;
    }
    .margin__btn-left{
        margin-left: 0px;
    }
    .main__sections-price{
        font-size: 40px;
    }
    .main__h1 {
        font-size: 25px;
    }
    .main__span {
        font-size: 30px;
    }
    .main__header{
        height: 50vh;
    }
    .woman__img {
        max-width: 40%;
        height: auto;
    }
    nav ul li a{
        font-size: 16px;
        padding-left: 60px;
    }
    .span__submenu{
        font-size: 12px;
    }
    .sidebar{
        max-width: 100%;
    }
    nav ul li a span{
        left: 25px;
    }
    .sidebar{
        min-width:100%;
    }

    .verano__image {
        position: absolute;
        top: 110px;
        left: 2px;
    }
    .verano__image-img {
        max-width: 70%;
    }

}
@media only screen and (max-width: 375px) {
    
    .aside__icon-a {
        font-size: 40px;
    }
    .aside__brand{
        font-size: 20px;
        top: 2px;
    }
    .video__title{
        font-size: 30px;
    }
    .contacto__title {
        font-size: 30px;
    }
    .video__youtube-v1 {
        height: 320px;
    }
    .main__header{
        height: 39vh;
    }
    .woman__img {
        max-width: 35%;
        height: auto;
    }
    .sidebar{
        max-width: 100%;
    }

    .sidebar{
        min-width:100%;
    }

    
}

@media only screen and (max-width: 320px) {
    .video__youtube-v1 {
        height: 300px;
    }
    
    .main__header {
        height: 40vh;
    }
}


