/* IMPORT GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* BASICS RESET 
font-family: 'Merriweather', serif;
font-family: 'Oswald', sans-serif;
*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* CUSTOM PROPIETIES */
:root{
    
    /* ... Template Alcance blue... */ 
    --color-blue-dark:#5fc4bc;
    --color-blue-dark-hover:#3fa69e;

    /* ... Template Alcance yellow... */ 
    --color-yellow-dark:#f9bb08;
    --color-yellow-dark-hover:#dba509;

    /* ... Template Alcance red... */ 
    --color-red-dark:#f80b7d;
    --color-red-dark-hover:#d5126f;
    

}
/* GLOBAL STYLES */

a{
    text-decoration: none;
    color:inherit;
}
ul{
    list-style: none;
}

/*... Menu ...*/
.navbar{
    transition: .3s;
}
.logo-img{
    max-width: 70%;
}
.nav-item{
    margin-left: 10px;
}
.nav_link{
    color: #fff !important;
    transition: .3s;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 3px;
}
.nav_link_black{
    color: #000 !important;
}
.navbar-toggler{
    color: #fff !important;
    border-color: #fff !important;
}
.navbar-toggler-menu{
    color: #fff !important;
    border-color: #fff !important;
}
.change{
    width: 100%;
    color: #fff !important;
    display: inline-block;
    border-radius: 20px;
    padding: 10px 5px;
    min-width: 148px;
    text-align: center;
    transition: .3s;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.search{
    width: 100%;
    color: #fff !important;
    display: inline-block;
    border-style: dotted;
    border-width: 1px;
    border-color: #fff;
    background-color: transparent;
    border-radius: 20px;
    padding: 10px 5px;
    min-width: 137px;
    text-align: center;
    transition: .3s;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 5px;
}
.back-nav{
   
    background-color: rgba(0,0,0,0.9);
    -webkit-box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
    box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
}
.back-search{
    color: #000 !important;
    border-color: #000;
}
/*... Navigation Sub ...*/
nav.sub {
	border-bottom: 1px solid #ebebeb;
	padding: 10px 0;
}

nav.main .nav-logo {
	max-width: 200px;
	width: 100%;
}
nav.main ul {
	padding-left: 0;
	list-style-type: none;
}
.nav_link_sub {
    padding: 13px 10px 13px 0;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    display: block;
    padding-left: 68px;
    transition: 25ms;
    text-transform: uppercase;
    transition: .3s;
    position: relative;
    letter-spacing: 3px;
}
.megamenu .nav_link_sub:hover:before{
    opacity: 1;
    left: 40px;
}
.megamenu .nav_link_sub:before {
    left: 34px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    content: '\f0a9';
    font-family: FontAwesome;
    font-size: 12px;
    display: inline-block;
    margin-right: 17px;
    transition: left .3s, opacity .3s;
    opacity: 0;
}
nav.main .megamenu {
	padding: 20px 20px;
	position: absolute;
	top: auto;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.megamenu {
    padding: 10px 40px 30px !important;
    margin: 0.125rem 1rem 0;
    border-radius: .50rem;
    width: calc(100vw - 45px);
    margin-top: 10px;
    box-shadow: 0 2px 20px 0 rgba(100, 103, 121, 0.21);
    transition: 0.3s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
nav.main .midmenu {
	position: absolute;
	padding: 20px 20px;
	float: left;
	top: auto;
	left: auto;
	right: auto;
	max-width: 650px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.dropdown-menu.megamenu.midmenu.show {
    right: 0;
}
.dropdown-menu.show {
    right: 0;
}
/*... Section Name Agency ...*/
.back-head{
    
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    position: relative;
    width: 100%;
    display: inline-block;
}
/*
.filter{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 35%);
    z-index: -1;
}*/
.container-main-title{
    padding-top: 250px;
    padding-bottom: 250px;
}
.main-title{
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 10px;
    
}
.main-subtitle{
    font-size: 70px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.5);
}
.main-text{
    font-size: 30px;
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
}
/*... Section Name Agency ...*/
.back-about{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
}

.text-about{
    font-size: 16px;
    color: #686868;
    text-align: justify;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
.btn-about{
    color: #000;
    font-size: 18px;
    padding: 10px 5px;
    min-width: 148px;
    display: inline-block;
    transition: .3s;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
    
}
/*... section Top 10 ...*/
.section-top-ten{
    padding: 3rem 0;
    background: #f6f7f9;
}
.price-slide{
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.price-text{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    margin:0;
    padding: 5px 12px;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
    
}
.item-slide-content{
    box-shadow: 0px 3px 9px #071C551F;
    margin-bottom: 10px;
}

.item-slide-info{
    background-color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.item-slide-days{
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.item-slide-price{
    display: inline-block;
    width: 100%;
    padding: 5px 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.item-slide-current{
    display: inline-block;
    width: 100%;
    padding: 5px 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
/*... Slide full ...*/
.slide_movil{
    display: none !important;
}
.item-info{
    position: relative;
}
.info-slide{
 position: absolute;
 bottom: 10px;
 right: 180px;
 color: #fff;
 text-align: right;
}
.slide-title{
    font-size: 60px;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    text-shadow: 0px 3px 9px #071C551F;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.5);
}
.slide-desde{
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    text-shadow: 0px 3px 9px #071C551F;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.5);
}
.slide-span{
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
.slide-days{
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    text-shadow: 0px 3px 9px #071C551F;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.5);
}
.button-slide{
    padding: 10px 5px;
    min-width: 200px;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color:#25232d;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
}
.slide .owl-prev{
    margin: 0 0 0 .7em;
    left: 60px;
    display: inline-block;
    position: absolute;
    top: 40%;
    font-size: 4.7rem !important;
    color: #ffffff !important;
    outline: none !important;
    background: transparent !important;
}
.slide .owl-next{
    margin: 0 .7em 0 0;
    right: 60px;
    display: inline-block;
    position: absolute;
    top: 40%;
    font-size: 4.7rem !important;
    color: #ffffff !important;
    outline: none !important;
    background: transparent !important;
}
.slide .owl-nav{
    margin-top: 0;
}
/*... section offers ...*/
.offers{
    padding: 3rem 0;
    background: #f6f7f9;
}
.slick_item{
    padding: 5px 15px;
    
}
/*... section seasons ...*/
.seasons{

}
.seasons-item{
position: relative;
}
.seasons-info{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    -webkit-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
    background-color: rgba(84,89,95,0.6);
    width: 100%;
}
/*.seasons-info:hover{
    opacity: 1;
    transform: scale(1);
}*/
.seasons-content{
    justify-content: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}
.seasons-img{
    width: 100%;
    height: auto;
}
/*
opacity: 1;
transform: scale(1);
*/
.seasons-title{
    text-align: center;
    color: #ffffff;
    font-family: "Oswald", Sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    line-height: 1.472em;
    letter-spacing: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 23px 0px;
    order: 1;
    width: 100%;
}
.seasons-link{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    line-height: 1.5em;
    letter-spacing: 6px;
    align-self: center;
    text-align: center;
    padding: 16px 37px 16px 43px;
    margin: 0px 0px 0px 0px;
    
    border-radius: 0px 0px 0px 0px;
    order: 4;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
/*... section offers ...*/
.section-locks{
    padding: 3rem 0;
    background-color: #fff;
}
/*... section Megatraveler ...*/
.megatraveler{
    padding: 3rem 0;
    background: #f1f7f7;
}
.text-megatraveler{
    padding: 30px 30px 50px 30px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 14px;
    color: #686868;
}
.descargar{
    color: #25232d;
    text-transform: uppercase;
    max-width: 210px;
    min-width: 180px;
    display: inline-block;
  
    padding: 15px 15px;
    margin-bottom: 25px;
    transition: .3s;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18px;
}
.mt-megatraveler{
    margin-top: 124px;
}
/*... section favorites ...*/
.favorites{
    padding: 3rem 0;
    background-color: #fff;
}
.title-favorites{
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.title-days{
    margin-bottom: 10px;
    
    padding-left: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
/*... Networks ...*/
.networks{
    padding: 4rem 0;
}
.networks-title{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 40px;
}
.text-networks{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #686868;
    
}
.networks-icon{
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.networks-link{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 15px;
    display: inline-block;
}
/*... footer ...*/
.footer{
    /*background-color: #363d47;*/
    background-color: #000;
    padding: 4rem 0;
}
.title-footer{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 22px;
}
.text-footer{
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 0px 20px;
    text-transform: uppercase;
}
.icon-footer{
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    text-align: center;
    margin: 5px;
    transition: .3s;
}
.escribenos{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
}
.input_form{
border: none;
outline: none !important;
border-bottom: 1px solid #fff;
color :#fff !important;
background-color: transparent;
border-radius: 0px;
font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.input_form:focus{
    border-bottom: 1px solid #fff;
    outline: none !important;
    background-color: transparent;
    box-shadow: none !important;
}

.input_form::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.input_form:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
   font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.input_form::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
   font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.input_form:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
   font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.input_form::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
   font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.input_form::placeholder { /* Most modern browsers support this now. */
   color:    #fff;
   font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.btn-enviar{
    color: #25232d;
    letter-spacing: 5px;
    text-transform: uppercase;
    max-width: 210px;
    min-width: 182px;
    display: inline-block;
    font-size: 18px;
    padding: 15px 15px;
    margin-bottom: 25px;
    border: none;
    transition: .3s;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.mapa-title{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
}
.map{
    padding: 20px;
    
}
/*... Reutilizables ...*/

.title-section{
    font-size: 35px;
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.subtitle-section{
    font-size: 20px;
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.container-template {
    width: 100%;
    max-width: 800px;
    padding: 0 1.5rem;
    margin: 0 auto;
}
.back-white{
    background-color: #fff;
}
.color-blue{
    color: var(--color-blue-dark);
}
.nav-link-blue{
    color: var(--color-blue-dark);
}
.nav-link-blue:hover{
    color: var(--color-blue-dark-hover);
}
.btn-seasons-blue{
    background-color: var(--color-blue-dark);
    color: #25232d;
    text-decoration: none;
}
.btn-seasons-blue:hover{
    color: var(--color-blue-dark);
    background-color: #25232d;
    text-decoration: none;
}

.back-blue{
    background-color: var(--color-blue-dark);
}
.under-blue:hover{
    text-decoration: underline;
    color: var(--color-blue-dark) !important;
    
}
.btn-back-blue{
    background-color: var(--color-blue-dark);
}
.btn-back-blue:hover{
    background-color: #25232d;
    color: var(--color-blue-dark);
    text-decoration: none;
}
.icon-footer-blue:hover{
    color: var(--color-blue-dark);
    border-color:var(--color-blue-dark) ;
}
.back-head-blue{
    background-image: url('https://exodus.b-cdn.net/exodus/alcance/02/img/01-inicio-globo-viajes-morelia.png');
}
.back-about-blue{
    background-image: url('https://exodus.b-cdn.net/exodus/alcance/02/img/somos.png');
}

/*... yellow ....*/
.color-yellow{
    color: var(--color-yellow-dark);
}
.nav-link-yellow{
    color: var(--color-yellow-dark);
}
.nav-link-yellow:hover{
    color: var(--color-yellow-dark-hover);
}
.btn-seasons-yellow{
    background-color: var(--color-yellow-dark);
    color: #25232d;
    text-decoration: none;
}
.btn-seasons-yellow:hover{
    color: var(--color-yellow-dark);
    background-color: #25232d;
    text-decoration: none;
}

.back-yellow{
    background-color: var(--color-yellow-dark);
}
.under-yellow:hover{
    text-decoration: underline;
    color: var(--color-yellow-dark) !important;
    
}
.btn-back-yellow{
    background-color: var(--color-yellow-dark);
}
.btn-back-yellow:hover{
    background-color: #25232d;
    color: var(--color-yellow-dark);
    text-decoration: none;
}
.icon-footer-yellow:hover{
    color: var(--color-yellow-dark);
    border-color:var(--color-yellow-dark) ;
}
.back-head-yellow{
    background-image: url('https://exodus.b-cdn.net/exodus/alcance/02/img/01-inicio-globo-viajes-morelia.png');
}
.back-about-yellow{
    background-image: url('https://exodus.b-cdn.net/exodus/alcance/02/img/somos.png');
}


/*... red ....*/
.color-red{
    color: var(--color-red-dark);
}
.nav-link-red{
    color: var(--color-red-dark);
}
.nav-link-red:hover{
    color: var(--color-red-dark-hover);
}
.btn-seasons-red{
    background-color: var(--color-red-dark);
    color: #25232d;
    text-decoration: none;
}
.btn-seasons-red:hover{
    color: var(--color-red-dark);
    background-color: #25232d;
    text-decoration: none;
}

.back-red{
    background-color: var(--color-red-dark);
}
.under-red:hover{
    text-decoration: underline;
    color: var(--color-red-dark) !important;
    
}
.btn-back-red{
    background-color: var(--color-red-dark);
}
.btn-back-red:hover{
    background-color: #25232d;
    color: var(--color-red-dark);
    text-decoration: none;
}
.icon-footer-red:hover{
    color: var(--color-red-dark);
    border-color:var(--color-red-dark) ;
}
.back-head-red{
    background-image: url('https://exodus.b-cdn.net/exodus/alcance/02/img/01-inicio-globo-viajes-morelia.png');
}
.back-about-red{
    background-image: url('https://exodus.b-cdn.net/exodus/alcance/02/img/somos.png');
}

/*... Break Points ...*/
@media only screen and (max-width: 960px) {
    .seasons-title{
        font-size: 20px;
    }
    .descargar{
        min-width: auto;
    }
}
@media only screen and (max-width: 425px) {
    
    .slide_movil{
        display: block !important;
    }
    .slide_desktop{
        display: none !important;
    }
    .info-slide {
   
        right: 10px;
        
    }
    
}