@charset "UTF-8";
@font-face {
    font-family: 'Geomanist-bold';
    src: url('../fonts/Geomanist-Bold.eot');
    src: url('../fonts/Geomanist-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Geomanist-Bold.woff') format('woff'), url('../fonts/Geomanist-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal
}
@font-face {
    font-family: 'Geomanist-medium';
    src: url('../fonts/Geomanist-Medium.eot');
    src: url('../fonts/Geomanist-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Geomanist-Medium.woff') format('woff'), url('../fonts/Geomanist-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal
}
@font-face {
    font-family: 'Geomanist-black';
    src: url('../fonts/Geomanist-Black.eot');
    src: url('../fonts/Geomanist-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Geomanist-Black.woff') format('woff'), url('../fonts/Geomanist-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    display: grid;
    background-color: #000;
}
.menu__top{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.menu__logo{
    padding: 24px 0px 24px 125px;
}
.menu__logo-link{
    display: inline-block;
}
.menu__logo-image{
    max-width: 100%;
}
.exchange-rate{
    padding:60px 0px 0px 0px;
}
.exchange-rate__list{
    float: right;
}
.exchange-rate__list-item{
    float: left;
    list-style: none;
}
.exchange-rate__link{
 color: #fff;
 font-size: 14px;
 text-decoration: none;
 text-transform: uppercase;
 display: inline-block;
 font-family: 'Geomanist-bold';
}
.exchange-rate__span{
    position: relative;
    display: inline-block;
    top: -1px;
}
.exchange-rate__image{
 max-width: 100%;
}
.exchange-rate__span--home{
 padding-right: 32px;
}
.exchange-rate__span--search{
 padding-left: 60px;
 padding-right: 40px;
}
.menu__nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px 40px;
}
.menu__nav-item{
    text-align: center;
    list-style: none;
}


.nav-item--pink{
    background-color: #c12f60;
}
.nav-item--orange{
    background-color: #e47510;
}
.nav-item--yellow{
    background-color: #fecf34;
}
.nav-item--green{
    background-color: #48a036;
}
.menu__nav-link{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;  
  padding: 5px 0px 20px 0px;
  display: inline-block;
  width: 100%;
  font-family: 'Geomanist-bold';
}
.menu__span{
 position: relative;
 display: inline-block;
 top:10px;
}
.menu__image{
 max-width: 100%;
}
.section-main{
 width: 100%;
 display: flex;
 position: relative;
}
.section-main__image{
    width: 100%;
}
.section-filtro{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 0;
    top: 200px;
    background-image: linear-gradient(180deg, transparent 0%, #000 100%);
}

.section-carousel-main{
 position: relative;
}
.section-carousel-filtro{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 0;
    top: 0;
    background-image: linear-gradient(0deg, transparent 0%, #000 120%);
    z-index: 7;
}
.carousel-main{

}
.carousel-main__item{

}
.carousel-main__item-link{

}
.carousel-main__item-image{

}
.carousel-best-sellers__info{
    background-color: #fecf34;
    color: #000;
}
.carousel-best-sellers__info--orange{
    background-color: #e47510;
    color: #fff;
}
.carousel-best-sellers__days{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    margin-top: 10px;
}
.carousel-best-sellers__price{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 60px;
}
.carousel-best-sellers__since{
 font-size: 14px ;
 vertical-align: middle;
}
.carousel-best-sellers__current{
 display: inline-block;
 width: 89%;
 text-align: right;
 font-size: 14px;
 margin-bottom: 10px;
}
.owl-prev {
    margin: 0 0 0 0.7em;
    left: 0;
    display: inline-block;
    position: absolute;
    top: 45%;
    
}
.owl-next {
    margin: 0 0.7em 0 0;
    right: 0;
    display: inline-block;
    position: absolute;
    top: 45%;
    
}

.section-mega-offers{
background-image: url('../img/mega-ofertas/back-mega-ofertas.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: 100% 100%;
background-attachment: fixed;

}
.mega-offers-title{
 text-align: center;
 padding-top: 50px;
 padding-left: ;
}
.mega-offers-title__image{
 max-width: 100%;
}
.mega-offers-text{
    font-size: 36px;
    margin-bottom: 60px;
    text-transform: uppercase;
    color: #fff;
    padding-left: 60px;
    letter-spacing: 8px;
    padding-top: 60px;
    font-family: 'Geomanist-black';
}

.title__text--black{
    color:#000;
}

.carousel-scheduled-departures__mt{
    position: absolute;
    display: inline-block;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    top: 0;
    text-align: right;
    padding: 10px 10px;
    color: #fff;
}
.carousel-scheduled-departures__info{
    position: absolute;
    display: inline-block;
    width: 100%;
    color: #fff;
    bottom: 0;
}
.carousel-scheduled-departures__days{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    margin-top: 10px;
}
.carousel-scheduled-departures__price{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 60px;
}
.carousel-scheduled-departures__since{
    font-size: 14px ;
 vertical-align: middle;
}
.carousel-scheduled-departures__current{
    display: inline-block;
    width: 89%;
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
}
.section-favorites{
    background-color: #000;
}
.carousel-favorites{
    padding-bottom: 100px;
}
.section-favorites__text{
    padding-top: 100px;
}
.carousel-favorites__mt{
    position: absolute;
    display: inline-block;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    top: 0;
    text-align: right;
    padding: 10px 10px;
    color: #fff;
}
.carousel-favorites__info{
    position: absolute;
    display: inline-block;
    width: 100%;
    color: #fff;
    bottom: 0;
}
.carousel-favorites__days{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    margin-top: 10px;
}
.carousel-favorites__price{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 60px;
}
.carousel-favorites__since{
    font-size: 14px ;
 vertical-align: middle;
}
.carousel-favorites__current{
    display: inline-block;
    width: 89%;
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
}
.carousel-temporada{
    padding-bottom: 100px;
}

.season-offers{
    background-image: url('../img/mega-traveler/back-mega-traveler.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.megatraveler{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 100px;
}

.megatraveler__info{
 
}

.megatraveler__title{
 text-align: center;
 display: inline-block;
 width: 100%;
}
.megatraveler__title--image{
    max-width: 100%;
}
.megatraveler__paragraph{

    font-size: 18px;
    color: #000;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0px 100px;
    line-height: 1.8;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    
}
.megatraveler__content-button{
    text-align: center;
    margin-top: 60px;
}
.megatraveler__button{
 background-color: #e47510;
 border: none;
 color: #fff;
 font-size: 20px;
 text-transform: uppercase;
 width:40%;
 padding: 15px 0px 20px 0px;
 font-family: 'Geomanist-black';
}
.megatraveler__button--span{
 display: inline-block;
 position: relative;
 top: 4px;
}
.megatraveler__icon--button{
    max-width: 100%;
}
.megatraveler__content-image{
    text-align: center;
}
.video{
    background-image: url('../img/video-quienes-somos/back-video-quienes-somos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}
.video-title{
 display: inline-block;
 width: 100%;
 text-align: center;
 color: #fff;
 font-size: 36px;
 letter-spacing: 6px;
 text-transform: uppercase;
 padding-top: 60px;
 padding-bottom: 30px;
 margin: 0;
 font-family: 'Geomanist-black';
 text-shadow: 1px 1px 1px #000;
}
.content-video{
 text-align: center;
 display: inline-block;
width: 100%;
padding: 0px 150px;
margin-bottom: 450px;
}
.video-link{
 display: inline-block;
}
.video-image{
    max-width: 100%;
}
.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.about-section{
    background-color: #000;
}
.container__about{
    padding:0px 40px 0px 40px;
}
.about-title__yellow{
 padding-top: 30px;   
 font-size: 50px;
 letter-spacing: 10px;
 color: #fecf34;
 text-transform: uppercase;
 font-family: 'Geomanist-black';
 line-height: 0.5;
}
.about-tittle__white{
font-size: 50px;
letter-spacing: 16px;
color: #fff;
text-transform: uppercase;
margin-bottom: 30px;
font-family: 'Geomanist-black';
}
.about_text{
    font-size: 18px;
    color: #fff;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 30px;
    font-family: 'Merriweather', serif;
    line-height: 1.8;
}
.about-carrousel{
    padding:0px 40px 0px 40px;
}
.about-carrousel__info{
    width: 100%; 
    height: 300px; 
    margin:30px auto;
}
.about-carrousel__list{

}
.about-carrousel__item{
    width: 290px !important;
    height: 587px !important;
}
.about-carrousel__image{
    max-width: 100%;
}
.social{
    background-color: #000;
    padding: 80px;
}
.container-social{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border:1px solid #fff;
    
}

.contactar{
    padding: 35px 20px;
}
.contactar-parrafo{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 4px;
    font-family: 'Geomanist-bold';
    
}
.redes{
    padding: 15px 20px 15px 0px;
    text-align: center;
}
.redes-ul{
 list-style: none;   
 border-left: 1px solid #fff;

}
.redes-li{
    padding-right: 10px;

display: inline-block;
}
.redes-a{
    display: inline-block
}
.redes-img{
    max-width: 100%;
}
.contacto{
    background-color: #000;
}
.container-contacto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 40px 0px 40px
}
.contactanos{

}
.title-contactanos{
    color: #fff;
    font-size: 36px;
    
    text-transform: uppercase;
    margin-bottom: 50px;
    font-family: 'Geomanist-black';
}
.direccion{

}
.title-direccion{
    color: #fff;
    font-size: 36px;
  
    text-transform: uppercase;
    margin-bottom: 50px;
    font-family: 'Geomanist-black';
}
.parrafo-direccion{
    color: #fff;
    font-size: 18px;
    font-family: 'Merriweather', serif;
    line-height: 1.5;
    margin-bottom: 40px;
}
.contactanos-ul{
 display: inline-block;
padding: 10px;
 background-color: #fecf34;
list-style: none;

}
.contactanos-li{
display: inline-block;
}
.contactanos-a{
    display: inline-block;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Geomanist-medium';
    
    }
    .contactanos-a--phone{
        border-right: 1px solid #000;
        padding-right: 25px;
    }
    .contactanos-a--email{
        padding-left: 15px;
        padding-right: 10px;
    }
    .contactanos-span{
        vertical-align: middle;

display: inline-block;
        }
        .contactanos-img{
            max-width: 100%;
            }
.formulario{

}
.formulario-form{
    padding-right: 115px;
    margin-top: 120px;
}
.formulario-text{
    background-color: transparent;
    
    border: none;
    border-bottom: 1px solid #fff;
    width: 100%;
    margin-bottom: 70px;
    height: 36px;

padding-top: 10px;

padding-bottom: 30px;
    color:#fff;
    font-family: 'Geomanist-bold';
}
.formulario-text::placeholder  { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#fff;
    text-transform: uppercase;
    font-family: 'Geomanist-bold';
    opacity: 1; /* Firefox */
  }
  
  .formulario-text:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#fff;
    text-transform: uppercase;
    font-family: 'Geomanist-bold';
  }
  
  .formulario-text::-ms-input-placeholder{ /* Microsoft Edge */
    color:#fff;
    text-transform: uppercase;
    font-family: 'Geomanist-bold';
  }
  .container-button{
      text-align: right;
  }
  .formulario-button{
    background-color: #e47510;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    padding: 15px 65px;
    font-family: 'Geomanist-bold';
border: none;

text-align: center;
  }
  .formulario-span{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  .formulario-imagen{
    max-width: 100%;
  }
.mapa{

}

footer{
    background-color: #000;
    padding: 70px 40px 0px 40px;
    
}
.container-footer{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 50px 0px 70px 0px;
    border-top:1px solid #95959573;
}
.footer-logo{

}
.footer-logo-ul{
list-style: none;
display: grid;

grid-template-columns: 1fr 2fr;
}
.footer-logo-li{
 display: inline-block;
}
.footer-logo-a{
display: inline-block;
}
.footer-logo-img{
max-width: 100%;
}
.footer-logo-p{
    color: #959595;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    line-height: 1.5;
    padding: 0px 15px;
}
.footer-redes{

}
.footer-redes-ul{
    list-style: none;
    text-align: right;
}

.footer-redes-li{
    display: inline-block;
}


.footer-redes-a{
    display: inline-block;
}
.footer-redes-img{
    max-width: 100%;
}

