<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,700|Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
    
    <title>Exodus</title>
    
</head>
<body>

    <div id="app">

    <header>
        <div class="menu">
            
            <div class="menu__top">
                
                <div class="menu__logo">
                    <a href="#" class="menu__logo-link">
                        <img src="img/header/logo-turismo-omicron.png" alt="" class="menu__logo-image">
                    </a>
                </div>

                <div class="exchange-rate">

                    <ul class="exchange-rate__list">

                        <li class="exchange-rate__list-item">
                            <a href="" class="exchange-rate__link">
                                <span class="exchange-rate__span exchange-rate__span--home">
                                     <img src="img/header/home.png" alt="" class="exchange-rate__image">
                                </span>     
                            </a>
                        </li>
                        <li class="exchange-rate__list-item">
                            <a href="" class="exchange-rate__link">
                                tipo de cambio mxn 23.99
                            </a>
                        </li>
                        <li class="exchange-rate__list-item">
                            <a href="" class="exchange-rate__link">
                                <span class="exchange-rate__span exchange-rate__span--search">
                                    <img src="img/header/buscador.png" alt="" class="exchange-rate__image">
                                </span>
                            </a>
                        </li>
                    
                    </ul>
                </div>

            </div>

            <nav class="menu__nav">
                
                <li class="menu__nav-item nav-item--pink">
                    <a href="" class="menu__nav-link">
                        <span class="menu__span"> 
                            <img src="img/menu/ofertas-promociones.png" alt="" class="menu__image">
                        </span> ofertas y promociones </a>
                </li>
                <li class="menu__nav-item nav-item--orange">
                    <a class="menu__nav-link" id="sub__menu">
                        <span class="menu__span"> 
                            <img src="img/menu/destinos-viaje.png" alt="" class="menu__image">
                        </span> destinos de viaje </a>
                </li>
                <li class="menu__nav-item nav-item--yellow">
                    <a href="" class="menu__nav-link">
                        <span class="menu__span"> 
                            <img src="img/menu/quienes-somos.png" alt="" class="menu__image">
                        </span> quienes somos</a>
                </li>
                <li class="menu__nav-item nav-item--green">
                    <a href="" class="menu__nav-link">
                        <span class="menu__span"> 
                            <img src="img/menu/contacto.png" alt="" class="menu__image">
                        </span> contacto</a>
                </li>
            
            </nav>
        </div>

        <div class="menu__responsive-container">
        <div class="menu__responsive">
            <div class="menu__responsive-colum">
                <ul class="menu__responsive-ul">
                    <li class="menu__responsive-li">
                        <a href="" class="menu__responsive-a">
                            <span class="menu__responsive-span--europa"></span> viajes a europa
                        </a>
                    </li>
                    <li class="menu__responsive-li">
                        <a href="" class="menu__responsive-a">
                            <span class="menu__responsive-span--canada"></span> canadá
                        </a>
                    </li>
                    <li class="menu__responsive-li">
                        <a href="" class="menu__responsive-a">
                            <span class="menu__responsive-span--estados-unidos"></span> estados unidos
                        </a>
                    </li>
                    <li class="menu__responsive-li">
                        <a href="" class="menu__responsive-a">
                            <span class="menu__responsive-span--mexico"></span> méxico
                        </a>
                    </li>
                    <li class="menu__responsive-li">
                        <a href="" class="menu__responsive-a">
                            <span class="menu__responsive-span--sudamerica"></span> sudamérica
                        </a>
                    </li>
                </ul>
            </div>

            <div class="menu__responsive-colum">
                <ul class="menu__responsive-ul">
                    <li class="menu__responsive-li">
                        <a href="" class="menu__responsive-a">
                            <span class="menu__responsive-span--centroamerica"></span> centroamérica
                        </a>
                    </li>
                    <li class="menu__responsive-li">
                        <a href="" class="menu__responsive-a">
                            <span class="menu__responsive-span--pacifico"></span> pacífico
                        </a>
                    </li>
                    <li class="menu__responsive-li">
                        <a href="" class="menu__responsive-a">
                            <span class="menu__responsive-span--medio-oriente"></span> medio oriente
                        </a>
                    </li>
                    <li class="menu__responsive-li">
                        <a href="" class="menu__responsive-a">
                            <span class="menu__responsive-span--asia"></span> asia
                        </a>
                    </li>
                    <li class="menu__responsive-li">
                        <a href="" class="menu__responsive-a">
                            <span class="menu__responsive-span--africa"></span> africa
                        </a>
                    </li>
                </ul>
            </div>

            <div class="menu__responsive-colum">
                <ul class="menu__responsive-ul">
                    <li class="menu__responsive-li">
                        <a href="" class="menu__responsive-a">
                            <span class="menu__responsive-span--eventos"></span> eventos
                        </a>
                    </li>
                    <li class="menu__responsive-li">
                        <a href="" class="menu__responsive-a">
                            <span class="menu__responsive-span--cruceros"></span> cruceros
                        </a>
                    </li>
                    <li class="menu__responsive-li">
                        <a href="" class="menu__responsive-a">
                            <span class="menu__responsive-span--juvi"></span> #juvi
                        </a>
                    </li>
                    <li class="menu__responsive-li">
                        <a href="" class="menu__responsive-a">
                            <span class="menu__responsive-span--fits"></span> grupos y fits
                        </a>
                    </li>
                    <li class="menu__responsive-li">
                        <a href="" class="menu__responsive-a">
                            <span class="menu__responsive-span--miel"></span> luna de miel
                        </a>
                    </li>
                </ul>
            </div>
            <div class="menu__responsive-colum">
                <ul class="menu__responsive-ul">
                    <li class="menu__responsive-li">
                        <a href="" class="menu__responsive-a">
                            <span class="menu__responsive-span--quinceaneras"></span> quinceañeras
                        </a>
                    </li>
                    <li class="menu__responsive-li">
                        <a href="" class="menu__responsive-a">
                            <span class="menu__responsive-span--cancun"></span> desde cancún
                        </a>
                    </li>
                    <li class="menu__responsive-li">
                        <a href="" class="menu__responsive-a">
                            <span class="menu__responsive-span--verano"></span> viajes verano 2020
                        </a>
                    </li>
                    <li class="menu__responsive-li">
                        <a href="" class="menu__responsive-a">
                            <span class="menu__responsive-span--invierno"></span> viajes invierno 2020
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div> 

    </header>

    <section class="section-main">
        <img src="img/slider-principal/slider-principal.jpg" alt="" class="section-main__image">
        <div class="section-filtro"></div>
    </section>

    



    <section class="section-carousel-main">

        <div class="carousel-main owl-carousel owl-theme">

            <div class="item carousel-main__item" v-for="item in carousel_main">
                <a href="" class="carousel-main__item-link">
                    <img v-bind:src="item.img1" alt="" class="carousel-main__item-image">
                    <div class="section-carousel-filtro"></div>
                </a>
                <div class="carousel-main__info">

                    <!--<small class="carousel-main__days">{{ item.days }} DÍAS / {{ item.nights }} NOCHES</small>
                    -->
                        <div class="carousel-main__price">
                            <span class="carousel-main__since">DESDE</span>
                            {{ item.price_from }}</div><br>

                    <span class="carousel-main__current">{{ item.currency }} {{ item.room_type }} + {{ item.taxes }}*</span>

                </div>
                
            </div>


        </div>
        <!--<div class="section-carousel-filtro"></div>-->
    </section>

    <section class="section-mega-offers">

        <h4 class="mega-offers-title">
            <img src="img/mega-ofertas/mega-ofertas.png" alt="" class="mega-offers-title__image">
        </h4>

        <h5 class="mega-offers-text">los más vendidos</h5>

        <div class="carousel-best-sellers owl-carousel owl-theme">


            <div class="item carousel-best-sellers__item" v-for="item in offers">
                <a href="" class="carousel-best-sellers__item-link">
                    <img v-bind:src="item.img" alt="" class="carousel-best-sellers__item-image">
                </a>
                
                <div class="carousel-best-sellers__info">

                    <small class="carousel-best-sellers__days">{{ item.days }} DÍAS / {{ item.nights }} NOCHES</small>

                        <div class="carousel-best-sellers__price">
                            <span class="carousel-best-sellers__since">DESDE</span>{{ item.price_from }}
                        </div><br>

                    <span class="carousel-best-sellers__current">{{ item.currency }} {{ item.room_type }}+{{ item.taxes }}*</span>

                </div>
                
            </div>


           <!-- <div class="item carousel-best-sellers__item ">
                <a href="" class="carousel-best-sellers__item-link">
                    <img src="https://one.cdnmega.com/images/home/megaofertas/3.jpg" alt="" class="carousel-best-sellers__item-image">
                </a>
                <div class="carousel-best-sellers__info carousel-best-sellers__info--orange">

                    <small class="carousel-best-sellers__days">14 DÍAS / 12 NOCHES</small>

                        <div class="carousel-best-sellers__price"><span class="carousel-best-sellers__since">DESDE</span>1,389</div><br>

                    <span class="carousel-best-sellers__current">USD DBL+0*</span>

                </div>
            </div>-->

        </div>


        <h5 class="mega-offers-text">salidas programadas</h5>

        <div class="carousel-scheduled-departures owl-carousel owl-theme">

            <div class="item carousel-scheduled-departures__item" v-for="item in departures">
                <a href="" class="carousel-scheduled-departures__item-link">
                    <img v-bind:src="item.img" alt="" class="carousel-scheduled-departures__item-image">
                </a>
                
                <div class="carousel-scheduled-departures__mt">MT-{{ item.mt }}</div>
                
                <div class="carousel-scheduled-departures__info">

                    <small class="carousel-scheduled-departures__days">{{ item.days }} DÍAS / {{ item.nights }} NOCHES</small>

                        <div class="carousel-scheduled-departures__price"><span class="carousel-scheduled-departures__since">DESDE</span>{{ item.price_from }}</div><br>

                    <span class="carousel-scheduled-departures__current">{{ item.currency }} {{ item.room_type }}+{{ item.taxes }}*</span>

                </div>

            </div>


            <!--<div class="item carousel-scheduled-departures__item">
                <a href="" class="carousel-scheduled-departures__item-link">
                    <img src="https://one.cdnmega.com/images/home/bloqueo/dubai-tierra-santa-jordania-y-egipto-291x384_5e41a766a06a4.jpg" alt="" class="carousel-scheduled-departures__item-image">
                </a>
                <div class="carousel-scheduled-departures__mt">MT-41305</div>
                
                <div class="carousel-scheduled-departures__info">

                    <small class="carousel-scheduled-departures__days">14 DÍAS / 12 NOCHES</small>

                        <div class="carousel-scheduled-departures__price">
                            <span class="carousel-scheduled-departures__since">DESDE</span>1,389</div><br>

                    <span class="carousel-scheduled-departures__current">USD DBL+0*</span>

                </div>
            </div>-->

        </div>

    </section>

    <section class="section-favorites">
        <h5 class="mega-offers-text section-favorites__text">favoritos</h5>
        <div class="carousel-favorites owl-carousel owl-theme">

            <div class="item carousel-favorites__item" v-for="item in favorites">
                <a href="" class="carousel-favorites__item-link">
                    <img v-bind:src="item.img" alt="" class="carousel-favorites__item-image">
                </a>
                <div class="carousel-favorites__mt">MT-{{ item.mt }}</div>
                
                <div class="carousel-favorites__info">

                    <small class="carousel-favorites__days">{{ item.days }} DÍAS / {{ item.nights }} NOCHES</small>

                        <div class="carousel-favorites__price">
                            <span class="carousel-favorites__since">DESDE</span>{{ item.price_from }}</div><br>

                    <span class="carousel-favorites__current">{{ item.currency }} {{ item.room_type }}+{{ item.taxes }}*</span>

                </div>
            </div>


           <!-- <div class="item carousel-favorites__item">
                <a href="" class="carousel-favorites__item-link">
                    <img src="https://one.cdnmega.com/images/home/bloqueo/dubai-tierra-santa-jordania-y-egipto-291x384_5e41a766a06a4.jpg" alt="" class="carousel-favorites__item-image">
                </a>
                <div class="carousel-favorites__mt">MT-41305</div>
                
                <div class="carousel-favorites__info">

                    <small class="carousel-favorites__days">14 DÍAS / 12 NOCHES</small>

                        <div class="carousel-favorites__price">
                            <span class="carousel-favorites__since">DESDE</span>1,389</div><br>

                    <span class="carousel-favorites__current">USD DBL+0*</span>

                </div>
            </div>-->

        </div>

    </section>

    <section class="season-offers">

        <h5 class="mega-offers-text title__text--black">ofertas de temporadas</h5>
        <div class="carousel-temporada owl-carousel owl-theme">

            <div class="item carousel-favorites__item" v-for="item in temporada">
                <a href="" class="carousel-favorites__item-link">
                    <img v-bind:src="item.img" alt="" class="carousel-favorites__item-image">
                </a>
            </div>

        <!-- <div class="item carousel-favorites__item">
                <a href="" class="carousel-favorites__item-link">
                    <img src="https://one.cdnmega.com/images/home/verano/allstar-verano-magico-267x160_5e73a17bac39a.jpg" alt="" class="carousel-favorites__item-image">
                </a>
            </div>-->

        </div>

        <div class="megatraveler">

            <div class="megatraveler__info">
                <h3 class="megatraveler__title">
                    <img src="img/mega-traveler/mega-traveler.png" alt="" class="megatraveler__title--image">
                </h3>
                <p class="megatraveler__paragraph">Consulta nuestra revista digital mensual con las mejores promociones de viajes de temporada</p>
                
                <div class="megatraveler__content-button">

                    <button class="megatraveler__button">
                        <span class="megatraveler__button--span">
                            <img src="img/mega-traveler/ver.png" alt="" class="megatraveler__icon--button">
                        </span> ver
                    </button>

                    <button class="megatraveler__button">
                        <span class="megatraveler__button--span">
                            <img src="img/mega-traveler/descargar.png" alt="" class="megatraveler__icon--button">
                        </span> descargar
                    </button>

                </div>
            </div>

            <div class="megatraveler__content-image">
                <img src="img/mega-traveler/ipad-mega-traveler.png" alt="" class="megatraveler__image--newsletter">
            </div>

        </div>

    </section>

    <section class="video">

        <h3 class="video-title">#quieroviajar</h3>
        <div class="content-video">
            <a href="" class="video-link">
                <img src="img/video-quienes-somos/video.jpg" alt="" class="video-image">
            </a>
        </div>

    </section>

    <section class="about-section">
        <div class="about">

            <div class="container__about">

            <h3 class="about-title__yellow">quienes</h3>
            <h3 class="about-tittle__white">somos</h3>

            <p class="about_text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. In placeat labore tempora aliquam corporis corrupti at dignissimos aliquid? Odit debitis odio ratione atque amet, laborum non beatae deserunt fuga ex.
            </p>
            <p class="about_text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error et necessitatibus temporibus deserunt atque! Iusto ratione earum numquam eaque ipsa? Ad asperiores repellendus molestiae quos, esse nobis ipsam corrupti neque!
            </p>
            <p class="about_text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque atque similique ea laudantium praesentium incidunt exercitationem repellat, ad sapiente voluptate? Amet, aspernatur libero? Cupiditate eligendi doloremque ea expedita quis quia?
            </p>

            </div>

            

            <div class="about-carrousel">

                <div class="about-carrousel__info" style="width: 100%; height: 300px; margin:30px auto;">

                    <ul class="about-carrousel__list">

                      <li class="about-carrousel__item">
                        <img src="img/video-quienes-somos/carrusel/img1.jpg" class="about-carrousel__image">
                      </li>

                      <li class="about-carrousel__item">
                        <img src="img/video-quienes-somos/carrusel/img2.jpg" class="about-carrousel__image">
                      </li>
                      
                      <li class="about-carrousel__item">
                        <img src="img/video-quienes-somos/carrusel/img3.jpg" class="about-carrousel__image">
                      </li>
                     
                      <img src="https://www.visitajordania.com/wp-content/themes/visitajordania/images/sections/adventure/pre-aventuras/arrow-izq.png" class="left left3d">
                      <img src="https://www.visitajordania.com/wp-content/themes/visitajordania/images/sections/adventure/pre-aventuras/arrow-der.png" class="right right3d">
                    </ul>
                  </div>
            </div>
        </div>
    </section>

    <!--<section class="social">

        <div class="container-social">
            
            <div class="contactar">
                <p class="contactar-parrafo">
                    contactar a turismo omicron
                </p>
            </div>
            <div class="redes">
                <ul class="redes-ul">
                    <li class="redes-li"> 
                        <a href="" class="redes-a">
                            <img class="redes-img" src="img/video-quienes-somos/telefono.png" alt="">
                        </a> </li>
                    <li class="redes-li">
                        <a href="" class="redes-a">
                            <img class="redes-img" src="img/video-quienes-somos/whatsapp.png" alt="">
                        </a></li>
                    <li class="redes-li">
                        <a href="" class="redes-a">
                            <img class="redes-img" src="img/video-quienes-somos/messenger.png" alt=""
                            ></a></li>
                    <li class="redes-li">
                        <a href="" class="redes-a">
                            <img class="redes-img" src="img/video-quienes-somos/chat.png" alt=""></a>
                        </li>
                    <li class="redes-li">
                        <a href="" class="redes-a">
                            <img class="redes-img" src="img/video-quienes-somos/correo.png" alt=""></a></li>
                </ul>
            </div>
        </div>
    </section>-->

    <section class="contacto">
        
        <div class="container-contacto">
        
        <div class="contactanos">
            <h4 class="title-contactanos">Contactanos</h4>
            
            

        </div>

        <div class="direccion">
            <h4 class="title-direccion">Direccion</h4>
            <p class="parrafo-direccion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia fugit ratione< Officia fugit ratione< Officia fugit ratione </p>
        </div>

        <div class="formulario">

            <form action="" class="formulario-form">
                <input type="email" name="" placeholder="Email" class="formulario-text" required>
                <input type="text" name="" placeholder="Asunto" class="formulario-text" required>
                <input type="text" name="" placeholder="Mensaje" class="formulario-text" required>
                <div class="container-button">
                    <button class="formulario-button">
                        <span class="formulario-span"><img class="formulario-imagen" src="img/footer/enviar.png" alt=""></span>enviar
                    </button>
                </div>
            </form>
            
        </div>

        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.76415185947!2d-99.12273068588414!3d19.292619950142985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce0175807df101%3A0x98c402d48c6832fc!2sAv.%20el%20R%C3%ADo%2037%2C%20Coapa%2C%20Narciso%20Mendoza%2C%20Tlalpan%2C%2014390%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1589257589884!5m2!1ses-419!2smx" width="100%" height="515" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>

        </div>

    </section>

    
    <footer>

        <div class="container-footer">

            <div class="footer-logo">
                
                <ul class="footer-logo-ul">
                    <li class="footer-logo-li"><a href="" class="footer-logo-a">
                        <img class="footer-logo-img" src="img/footer/logo-footer.png" alt=""></a></li>
                    <li class="footer-logo-li">
                        <p class="footer-logo-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum corrupti, quo ex, eligendi magni placeat ut laborum optio in minima rem cupiditate quisquam nobis sed temporibus veniam vero veritatis inventore!</p>
                    </li>
                </ul>
                
                    
            </div>
            
            <div class="footer-redes">
                <ul class="footer-redes-ul">
                    <li class="footer-redes-li">
                        <a href="" class="footer-redes-a">
                            <img class="footer-redes-img" src="img/footer/facebook.png" alt="">
                        </a>
                        
                    </li>
                    <li class="footer-redes-li">
                        
                        <a href="" class="footer-redes-a">
                            <img class="footer-redes-img" src="img/footer/instagram.png" alt="">
                        </a>
                        
                    </li>
                    <li class="footer-redes-li">
                        
                        <a href="" class="footer-redes-a">
                            <img class="footer-redes-img" src="img/footer/twitter.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </footer>

    

    

    </div>

    <!-- development version, includes helpful console warnings -->

    <section class="social">

        <div class="container-social">
            
            <div class="contactar">
                
                <ul class="contactanos-ul">
                    <li class="contactanos-li">
                        <p class="contactar-parrafo">
                            contactar a turismo omicron
                        </p>
                    </li>
                    <li class="contactanos-li">
                        <a href="" class="contactanos-a contactanos-a--phone"> 
                            <span class="contactanos-span">
                                <img class="contactanos-img" src="img/footer/telefono.png" alt="">
                            </span> 55 8891 5631
                        </a>
                    </li>
                    <li class="contactanos-li">
                        <a href="" class="contactanos-a contactanos-a--email"> 
                            <span class="contactanos-span">
                                <img class="contactanos-img" src="img/footer/correo.png" alt="">
                            </span> info@andiotours.com
                        </a>
                    </li>
                </ul>
            </div>
            <div class="redes">
                <ul class="redes-ul">
                    <!--<li class="redes-li"> 
                        <a href="" class="redes-a">
                            <img class="redes-img" src="img/video-quienes-somos/telefono.png" alt="">
                        </a> </li>-->
                    <li class="redes-li">
                        <a href="" class="redes-a">
                            <img class="redes-img" src="img/video-quienes-somos/whatsapp-black.png" alt="">
                        </a></li>
                    <li class="redes-li">
                        <a href="" class="redes-a">
                            <img class="redes-img" src="img/video-quienes-somos/messenger-black.png" alt=""
                            ></a></li>
                   <!-- <li class="redes-li">
                        <a href="" class="redes-a">
                            <img class="redes-img" src="img/video-quienes-somos/chat.png" alt=""></a>
                        </li>
                    <li class="redes-li">
                        <a href="" class="redes-a">
                            <img class="redes-img" src="img/video-quienes-somos/correo.png" alt=""></a></li>
                        --></ul>
            </div>
        </div>
    </section>

   
    <script src="js/jquery-3.5.1.min.js"></script>
    <script>
        
        $(document).ready(function(){

            $( "#sub__menu" ).click(function() {
  $( ".menu__responsive-container" ).slideToggle( "slow" );
});

		
	});
    </script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/carousel.js"></script>
    
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        
        new Vue({
                el: '#app',
                created: function() {
                    this.Carousel_Main();
                    this.MegaOffers();
                    this.Departures();
                    this.Favorites();
                    this.Temporada();
                    this.Glider();
                    
                },
                data: {
                    glider: [],
                    carousel_main: [],
                    offers: [],
                    departures:[],
                    favorites:[],
                    temporada:[]
                    
                },
                
                methods: {Glider: function() {
                        axios.get('https://www.megatravel.com.mx/developers/cafe-carousel/carrousel-main').then(response => {
                            this.glider = response.data;
                            //this.offers = response.data
                        });
                    },
                    Carousel_Main: function() {
                        axios.get('https://www.megatravel.com.mx/developers/cafe-carousel/carrousel-main').then(response => {
                            this.carousel_main = response.data;

                            Vue.nextTick(function(){
                                $('.carousel-main').owlCarousel({
                                loop:true,
                                margin:0,
                                nav:true,
                                autoplay:true,
                                dots:false,
                                navText: ["<img src='img/slider-magia-turca/arrow-izq.png' alt='<' />", "<img src='img/slider-magia-turca/arrow-der.png' alt='>' />"],
                                responsive:{
                                    0:{
                                        items:1
                                    },
                                    600:{
                                        items:1
                                    },
                                    1000:{
                                        items:1
                                    }
                                }
                            });
                            }.bind(this.carousel_main));
                           
                            //this.offers = response.data
                        });
                    },
                    MegaOffers: function() {
                        axios.get('https://www.megatravel.com.mx/developers/cafe-carousel/megaofertas').then(response => {
                            this.offers = response.data;

                            Vue.nextTick(function(){
                            $('.carousel-best-sellers').owlCarousel({
                                loop:true,
                                margin:10,
                                nav:true,
                                autoplay:true,
                                dots:false,
                                responsive: {
                                    0:{
                                        items:1
                                    },
                                    600:{
                                        items:3
                                    },
                                    1000:{
                                        items:5
                                    }
                                }
                            });
                            }.bind(this.offers));
                           
                            //this.offers = response.data
                        });
                    },
                    Departures: function() {
                        axios.get('https://www.megatravel.com.mx/developers/cafe-carousel/bloqueos').then(response => {
                            this.departures = response.data;

                            Vue.nextTick(function(){
                            $('.carousel-scheduled-departures').owlCarousel({
                                loop:true,
                                margin:10,
                                nav:true,
                                autoplay:true,
                                dots:false,
                                responsive:{
                                    0:{
                                        items:1
                                    },
                                    600:{
                                        items:3
                                    },
                                    1000:{
                                        items:5
                                    }
                                }
                            });
                            }.bind(this.departures));
                           
                            //this.offers = response.data
                        });
                    },
                    Favorites: function() {
                        axios.get('https://www.megatravel.com.mx/developers/cafe-carousel/favoritos').then(response => {
                            this.favorites = response.data;

                            Vue.nextTick(function(){
                            $('.carousel-favorites').owlCarousel({
                                loop:true,
                                margin:10,
                                nav:true,
                                autoplay:true,
                                dots:false,
                                responsive:{
                                    0:{
                                        items:1
                                    },
                                    600:{
                                        items:3
                                    },
                                    1000:{
                                        items:5
                                    }
                                }
                            });
                            }.bind(this.favorites));
                           
                            //this.offers = response.data
                        });
                    },
                    Temporada: function() {
                        axios.get('https://www.megatravel.com.mx/developers/cafe-carousel/temporada').then(response => {
                            this.temporada = response.data;

                            Vue.nextTick(function(){
                            $('.carousel-temporada').owlCarousel({
                                loop:true,
                                margin:10,
                                nav:false,
                                autoplay:true,
                                dots:false,
                                responsive:{
                                    0:{
                                        items:1
                                    },
                                    600:{
                                        items:3
                                    },
                                    1000:{
                                        items:5
                                    }
                                }
                            });
                            }.bind(this.temporada));
                           
                            //this.offers = response.data
                        });
                    }
                }
            });
            
    
    </script>
    <script src="js/plugins.js"></script>
        
    
</body>
</html>